<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
</head>
<body>
<header>
    <button type="button">&#xE8BB;</button>
    <button type="button">&#xE921;</button>
</header>
<div id="top_bar">
    <h1>Your applications</h1>
</div>


<div id="products">
    <div class="application"> <!-- One example application preview-->
        <div class="application-data">
            <div class="application-description">
                <!-- This is the only div used within the div, so we dont have to assign any attribute-->
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
            </div>
            <label class="application-version">Version:
                <select>
                    <option value="1.0">1.0</option>
                </select>
            </label>
        </div>
        <button class="application-start-button btn-primary">Start</button>
    </div>
    <div class="application"> <!-- One example application preview-->
        <div class="application-data">
            <div class="application-description">
                <!-- This is the only div used within the div, so we dont have to assign any attribute-->
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
            </div>
            <label class="application-version">Version:
                <select>
                    <option value="1.0">1.0</option>
                </select>
            </label>
        </div>
        <button class="application-start-button btn-primary" alt="start">Start</button>
    </div>
    <div class="application"> <!-- One example application preview-->
        <div class="application-data">
            <div class="application-description">
                <!-- This is the only div used within the div, so we dont have to assign any attribute-->
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
            </div>
            <label class="application-version">Version:
                <select>
                    <option value="1.0">1.0</option>
                </select>
            </label>
        </div>
        <button class="application-start-button btn-primary" alt="start">Start</button>
    </div>
</div>

<script>
    const remote = require("electron").remote;
    require(remote.getGlobal("paths").utilities + 'prerequisites.js')(__filename)
</script>
</body>
</html>