header {
    display: block;
    width: 100%;
    height: 32px;
    -webkit-app-region: drag;
    border-bottom: 1px solid #205da3;
}

header button[type="button"] {
    float: right;
    -webkit-app-region: no-drag;
    font-size: 10px;
    height: 31px;
    width: 46px;
    background-color: #185091;
    border: 0;
    margin: 0;
    padding: 0;
}

header button[type="button"]:first-child { /*first child from right to left*/
    border-left: 1px solid #205da3;
}
header button[type="button"]:last-child { /*first child from right to left*/
    border-right: 1px solid #205da3;
}

header button[type="button"]:active {
    background-color: #2167b8;
}

header button[type="button"]:focus {
    outline: 0;
}
