<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="loading-container">
    <div class="lds-dual-ring"></div>
    <div class="loading-content">
        <p>Please wait while we prepare everything for you..</p>
        <img src="https://via.placeholder.com/350x150" alt=""/>
    </div>
</div>
<script>
    const remote = require("electron").remote;
    require(remote.getGlobal("paths").utilities + 'prerequisites.js')(__filename)
</script>
</body>
</html>
